.film {
  max-width: 1200px;
  border: 5px solid #ffe81f;
  margin: 15px;
  color: white;
}

.film__poster {
  max-width: 222px;
  margin: 1rem;
}

.film__content {
  margin: 1rem 1rem 1rem 0;
}

.film__title {
  color: white;
}

.film__subtitle {
  color: white;
}
