.vehicle {
  max-width: 1200px;
  border: 5px solid #ffe81f;
  margin: 15px;
  color: white;
  text-align: center;
}

.vehicle__content {
  margin: 1.5rem;
  text-align: left;
}

.vehicle__title {
  color: white;
  margin: 1.5rem;
}

.vehicle__subtitle {
  color: white;
}
